.winWidth {
    margin: 0 auto;
    width: 30vw!important;
}

@media(max-width: 767px) {
    .winWidth {
        width: 90vw!important;
    }
}

@media (min-width: 768px) and (max-width:1200px) {
    .winWidth {
        width: 60vw!important;
    }
}